<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <h1>Welcome to the Main Page of the Project</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('userMain') }}">Home</a></li>
            <li><a href="{{ url_for('enter_data') }}">Enter Grocery Data</a></li>
            <li><a href="{{ url_for('view_inventory') }}">View Inventory</a></li>
        </ul>
    </nav>
</body>
</html>